<!DOCTYPE html>
<!--https://tedboy.github.io/jinja2/templ9.html-->

<html lang="en">
    {% block head %}
    <head>
        <link rel="stylesheet" href="static/style.css">
        <title>{% block title %}Hanshua Job Hunting App{% endblock %}</title>
    </head>
    {% endblock %}

    <body>
        <!--header_bar-->
        <!--https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_topnav-->
        <h1>The Hanshua Job Hunting App</h1>

        <div class="topnav">
            <a href="index">Home</a>
            <a href="jobs">All Jobs</a>
            <a href="logout">Logout</a>
            <a href="about">About</a>
        </div>
        <!--header_bar-->

        <p></p>

        <!--main body content-->
        <div id="content">{% block content %}Hi! This site is still being designed. Check back soon!{% endblock %}</div>
        <!--main body content-->
        <p></p>
        <div id="footer">
            {% block footer %}
            &copy; Copyright 2022 by Hanshua.
            {% endblock %}
        </div>

    </body>
</html>
