{%extends "base.html"%}
{%block content%}
  <div>{{titles}}</div>
  <div>{{job_ids}}</div>
  <table id='table_id' class="display">
      <thead>
          <tr>
              <th>company</th>
              <th>title</th>
              <th>location</th>
              <th>deadline</th>
              <th>...</th>
          </tr>
      </thead>
      <tbody>
          {% for id in job_ids %}
          <tr>
              <td>{{companies[loop.index-1]}}</td>
              <td>{{titles[loop.index-1]}}</td>
              <td>{{cities[loop.index-1]}}, {{states[loop.index-1]}}</td>
              <td>{{deadlines[loop.index-1]}}</td>
              <td>
                  <form action = "job_description" method = "POST">
                      <input type = "hidden" name="job_id" value = '{{job_ids[loop.index-1]}}'>
                      <input type = "submit" value = "more info" />
                  </form>
              </td>
          </tr>
          {% endfor %}
      </tbody>
  </table>

{%endblock%}
