<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>

<body>
    <!--header_bar-->
  <h1>The Hanshua Job Hunting App</h1>
  <ul>
      <li><a href="/user">Josh</a></li>
      <li><a href="/another">Han</a></li>
      <li><a href="/another">Go to the other page</a></li>
  </ul>
  <!--header_bar-->


  <div>{{titles}}</div>
  <div>{{job_ids}}</div>
  <table>
  <tr>
      <div>
          <th>id</th>
          <th>job</th>
          {% for id in job_ids %}
          <tr>
              <td><div>{{job_ids[loop.index-1]}}</td></div>
              <td><div>{{titles[loop.index-1]}}</td></div>
          </tr>
          {% endfor %}
      </div>
  </tr>
  </table>

<form method="POST" action="/add">
<p>Name of new computer scientist: <input type="text" name="name"> <input type="submit" value="Add"></p>
</form>

</body>


</html>

